/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  /*---COLOUR---*/

  /* Primary */
  --clr-nutmeg: hsl(14, 45%, 36%);
  /* Accent */
  --clr-drk-raspberry: hsl(332, 51%, 32%);

  /* Neutral */
  --clr--white: hsl(0, 0%, 100%);
  --clr-rose-white: hsl(330, 100%, 98%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-lgt-grey: hsl(30, 18%, 87%);
  --clr-wenge-brown: hsl(30, 10%, 34%);
  --clr-drk-charcoal: hsl(24, 5%, 18%);

  /*---TYPOGRAPHY---*/

  --fs-body: 1rem;
  --fs-main-headline: 2.5rem;
  --fs-main-headline-smaller: 1.875rem;
  --fs-small-heading: 1.25rem;
  --fs-small-subheading: 1rem;
  --fs-subheading: 1.8rem;
  --fs-marker: 0.75rem;
  --ff-young-serif: "Young Serif", Serif;
  --ff-outfit: "Outfit", sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  font-family: var(--ff-outfit);
  font-size: var(--fs-body);
  color: var(--clr-wenge-brown);
  background-color: var(--clr-eggshell);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Undoing the line-height reset just for headings*/
h1,
h2 {
  line-height: 1.3;
}

/* Makes the ul list marker smaller */
.marker-style--small li::marker {
  font-size: var(--fs-marker);
}

/* list indent */
.list-indent li {
  padding-left: 1rem;
}

.container {
  padding-inline: 2rem;
}

.recipe {
  max-width: 46rem;
  background-color: var(--clr--white);
}

.recipe-intro__title {
  font-family: var(--ff-young-serif);
  font-size: var(--fs-main-headline-smaller);
  font-weight: var(--fw-400);
  color: var(--clr-drk-charcoal);
  margin: 2rem 0 1rem;
}

.recipe-intro__img {
  border-radius: 0;
}

/* Match the code to desktop and mobile design differences in margin and rounded corners etc */

@media screen and (min-width: 46rem) {
  .container {
    padding-inline: 0;
  }

  .recipe {
    margin: 6rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    padding: 2rem;
  }

  .recipe-intro__title {
    font-size: var(--fs-main-headline);
  }

  .recipe-intro__img {
    border-radius: 1rem;
  }

  .recipe-nutrition {
    padding-bottom: 0;
  }

  .recipe-ingredients__title,
  .recipe-instructions__title,
  .recipe-nutrition__title {
    font-size: var(--fs-subheading);
  }
}

.recipe-prep {
  background-color: var(--clr-rose-white);
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.recipe-prep__title {
  color: var(--clr-drk-raspberry);
  font-size: var(--fs-small-heading);
  padding-bottom: 0.5rem;
}

.recipe-prep__list li::marker {
  color: var(--clr-drk-raspberry);
}

.recipe-prep__list li:not(:last-child) {
  padding-bottom: 0.5rem;
}

/* Potentially could use extra global/utility classes for the repetitive styles/multiple selectors */

.recipe-ingredients__title,
.recipe-instructions__title,
.recipe-nutrition__title {
  font-family: var(--ff-young-serif);
  font-weight: var(--fw-400);
  color: var(--clr-nutmeg);
}

.recipe-ingredients,
.recipe-instructions {
  border-bottom: 1px solid var(--clr-lgt-grey);
}

.recipe-ingredients__list,
.recipe-instructions__list {
  margin: 1.5rem 0;
}

.recipe-ingredients__list li,
.recipe-instructions__list li {
  padding-block: 0.3rem;
}

.recipe-ingredients__list li::marker,
.recipe-instructions__list li::marker {
  color: var(--clr-nutmeg);
}

.recipe-instructions,
.recipe-nutrition__title {
  padding: 1.5rem 0 0.5rem;
}

.recipe-instructions__list li::marker {
  font-weight: var(--fw-700);
}

.recipe-nutrition {
  padding-bottom: 2rem;
}

.recipe-nutrition__title {
  padding-bottom: 1rem;
}

/* This is the newish CSS & nesting selector */

.recipe-nutrition__table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-top: 2rem;

  & th {
    font-weight: var(--fw-400);
  }

  & tr:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
  }

  & td {
    font-weight: var(--fw-700);
    color: var(--clr-nutmeg);
  }

  & th,
  & td {
    padding: 0.5em 1.5em;
  }
}
